@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/dev-gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dev Gothic', sans-serif;
    color: white;

}


/* Index */
h1 {
    font-family: 'Dev Gothic', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

p {
    color: white;
    font-family: 'Dev Gothic', sans-serif;
}


#subpages_list a {
    text-decoration: none;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    font-size: 1.20rem;
    text-transform: uppercase;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 20%;
}


#subpages_list {
    background: rgba(0, 0, 0, 0.8);
    height: 500px;
    width: 200px;
    position: absolute;
    top: -500px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
    border-radius: 5px;
    border: 3px solid white;
}

#burger {
    margin-right: 20px;
    cursor: pointer;
}

.subpages_list_visible {
    transform: translateY(600px);
}

.burger_x #line_2 {
    opacity: 0;
}

.burger_x #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_x #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 400px 400px 400px 400px 100px;
    grid-template-areas: 
    "na na"
}

nav  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    grid-area: na;
}

li {
    color: white;
}


/* Detta är "home_button" där det står Z1Pex */
#home_button {
    font-size: 2rem ;
}


@media screen and (min-width: 700px) {

    #burger {
        display: none;
    }

    #home_button {
        
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 400px 400px 400px 400px 100px;
        grid-template-areas: 
        "na na"
        ;
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none        ;
    }

    .subpages_list_visible {
        transform: translateY(0px);
    }
}

/* End of Index */