@import url('https://fonts.cdnfonts.com/css/dev-gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dev Gothic', sans-serif;
    color: white;
    background: rgb(20,20,20);
}


/* Index */
h1 {
    font-family: 'Dev Gothic', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

#home_text1 {
    padding-top: 10px;
    font-size: 2.2vw;
}

#home_text2 {
    padding-top: 10px;
    font-size:3vw;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Dev Gothic', sans-serif;
}

#subpages_list a {
    text-decoration: none;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    font-size: 1.25rem;
    text-transform: uppercase;
    
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 20%;
}


#subpages_list {
    background: rgba(20, 20, 20, 1);
    height: 500px;
    width: 200px;
    position: absolute;
    top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-radius: 5px;
    border: 1px solid white;
}

#menu {
    margin-right: 20px;
    cursor: pointer;
}

.subpages_list_visible {
    transform: translateY(600px);
}

.menu_x #line_2 {
    opacity: 0;
}

.menu_x #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu_x #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 400px 400px 100px;
    grid-template-areas: 
    "na na"
    "p1 ma"
    "p2 m2"
    "fo fo";
}

main {
    grid-area: ma;
    background: rgb(20,20,20);
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

#main2 {
    grid-area: m2;
    background: rgb(20,20,20);
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

#picture1 {
    grid-area: p1;
    background: rgb(20,20,20);
    border: 1px solid white;
}

#picture2 {
    grid-area: p2;
    background: rgb(20,20,20);
    border: 1px solid white;
}

#home_p1 {
    height: 50vh;
    width: 40vh;
}

#home_p2 {
    height: 50vh;
    width: 40vh;
}




footer {
    grid-area: fo;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    text-align: center;
    height: 40vh;
    padding: 25%;
}

.footer_header {
    text-align: center;
}

nav  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(20,20,20);
    grid-area: na;
    border-radius: 5px;
    border: 1px solid white;
}

li {
    color: white;
}

li a:hover {
	cursor: pointer;
	text-shadow:0px 0px 5px white; 
}

.active {
	cursor: pointer;
	text-shadow: 0px 0px 5px white;
}


@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 400px 400px 100px;
        grid-template-areas: 
        "na na"
        "p1 ma"
        "p2 m2"
        "fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
        
    }

    .subpages_list_visible {
        transform: translateY(0px);
    }


    #home_text1 {
        font-size:1.2vw;
    }

    #home_text2 {
        font-size:1.2vw;
    }

    #home_p1 {
        height: 100%;
        width: 100%;
    }

    #home_p2 {
        height: 100%;
        width: 100%;
    }

    footer {
        height: 100vh;
    }


}

/* End of Index */
/* Start of Experience */

#grid_wrapper_exp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-areas: 
    "na"
    "c1"
    "c2"
    "c3"
    "c4"
    "c5"
    "c6"
    "c7"
    "c8"
    "fo";
}

#experience_h1 {
    letter-spacing: 0;
}

#vct_gc {
    grid-area: c1;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#zeal_project {
    grid-area: c2;
    background-color:rgb(20,20,20);
    border: 1px solid white;
}

#stena {
    grid-area: c3;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#ungdom {
    grid-area: c4;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#html_css_kod{
    grid-area: c5;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#ruby{
    grid-area: c6;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#lua {
    grid-area: c7;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

#aimlab {
    grid-area: c8;
    background-color: rgb(20,20,20);
    border: 1px solid white;
}

.card_container {
    padding: 2px 16px;
  }

.pictures {
    margin-left: 15%;
}

/* Datorns hemsida senare */
@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_exp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas: 
        "na na na na"
        "c1 c2 c3 c4"
        "c5 c6 c7 c8"
        "fo fo fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        right: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
    }

    footer {
        height: 11vh;
        padding: 0%;
    }
}
/* End of Experience*/
/* Start of About me */

.information {
    background-color: rgb(20,20,20);
    border: 1px solid white;
    height: 801px;
}

#page1 {
    grid-area: ar1;
    padding-left: 20px;
    padding-top: 20px;
}

#page2 {
    grid-area: ar2;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 14px;
}

.about_me_text {
    padding-left: 20px;
}

.about_me_h2 {
    padding-top: 15px;
}

#grid_wrapper_aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 
    "na na"
    "ar1 ar2"
    "fo fo";
}

@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
        "na na" 
        "ar1 ar2"
        "fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
        
    }

    #page2 {
        font-size: large;
    }
}

/* End of About me*/
/* Start of "Holder" */


#projectsmain {
    background-color: rgb(20,20,20);
    grid-area: hm;
    height: 1000px;
    outline: 1px solid white;
}

#project_thumbnail {
    height: 360px;
    width: 560px;
}


#grid_wrapper_holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "na"
    "hm"
    "fo";
}

@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
        "na" 
        "hm"
        "fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
        
    }
}