@import url('https://fonts.cdnfonts.com/css/dev-gothic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dev Gothic', sans-serif;
    color: white;
    background: rgb(20,20,20);
}

/* Index */
h1 {
    font-family: 'Dev Gothic', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

#home_text1 {
    padding-top: 10px;
    font-size: 1rem;
}

#home_text2 {
    padding-top: 10px;
    font-size: 1rem;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Dev Gothic', sans-serif;
}

#subpages_list a {
    text-decoration: none;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    font-size: 1.25rem;
    text-transform: uppercase;
    
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 20%;
}


#subpages_list {
    background: rgba(20, 20, 20, 1);
    height: 500px;
    width: 200px;
    position: absolute;
    top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-radius: 5px;
    border: 1px solid white;
}

#menu {
    margin-right: 20px;
    cursor: pointer;
}

.subpages_list_visible {
    transform: translateY(600px);
}

.menu_x #line_2 {
    opacity: 0;
}

.menu_x #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu_x #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr  1fr 100px;
    grid-template-areas: 
    "na na"
    "ma ma"
    "m2 m2"
    "p2 p2"
    "fo fo";
}

main {
    grid-area: ma;
    background: rgb(20,20,20);
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#index_div {
    grid-area: m2;
    background: rgb(20,20,20);
    border: 1px solid white;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#picture2 {
    grid-area: p2;
    background: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    max-width: 100%;
    height: auto;
}

#home_p1 {
    max-width: 100%;
    height: fit-content;
    display: none;
}

#home_p2 {
    max-width: 100%;
    height: auto;
}

#home_h1 {
    font-size: 2.2rem;
    overflow-wrap: break-word;
}


footer {
    grid-area: fo;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    text-align: center;
    height: 20rem;
    padding-top: 25%;
}

.footer_header {
    text-align: center;
}

nav  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(20,20,20);
    grid-area: na;
    border-radius: 5px;
    border: 1px solid white;
}

li {
    color: white;
}

li a:hover {
	cursor: pointer;
	text-shadow:0px 0px 5px white; 
}

.active {
	cursor: pointer;
	text-shadow: 0px 0px 5px white;
}


@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas: 
        "na na"
        "p1 ma"
        "p2 m2"
        "fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
        
    }

    .subpages_list_visible {
        transform: translateY(0px);
    }


    #home_text1 {
        font-size:1.25rem;
    }

    #home_text2 {
        font-size:1.25rem;
    }

    #home_p1 {
        max-width: 100%;
        height: auto;
        display: flex;
        
    }

    #index_footer {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #home_p2 {
        max-width: 100%;
        height: auto;
    }

    #picture1 {
        grid-area: p1;
        background: rgb(20,20,20);
        border: 1px solid white;
        max-width: 100%;
        height: auto;
        display: flex;
    }

    #picture2 {
        max-width: 100%;
        height: auto;
        display: flex;
    }

    #home_h1 {
        font-size: 2.2rem;
        overflow-wrap: break-word;
    }

    main {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #index_div {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

/* End of Index */
/* Start of Experience */

#grid_wrapper_exp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-areas: 
    "na"
    "c1"
    "c2"
    "c3"
    "c4"
    "c5"
    "c6"
    "c7"
    "c8"
    "fo";
}

#experience_h1 {
    letter-spacing: 0;
}

#experience_h2 {
    font-size: 18px;
}

#vct_gc {
    grid-area: c1;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#zeal_project {
    grid-area: c2;
    background-color:rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#stena {
    grid-area: c3;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#ungdom {
    grid-area: c4;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#html_css_kod{
    grid-area: c5;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#ruby{
    grid-area: c6;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#lua {
    grid-area: c7;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
}

#aimlab {
    grid-area: c8;
    background-color: rgb(20,20,20);
    border: 1px solid white;
    display: flex;
    align-items: flex-end;
    
}

.card_container {
    padding: 2px 16px;
    padding-bottom: 20px;
    
  }

.pictures {
    max-width: 100%;
    height: auto;
}

/* Datorns hemsida senare */
@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_exp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas: 
        "na na na na"
        "c1 c2 c3 c4"
        "c5 c6 c7 c8"
        "fo fo fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        right: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
    }

    footer {
        height: 11vh;
        padding: 0%;
    }
}
/* End of Experience*/
/* Start of About me */

.information {
    background-color: rgb(20,20,20);
    border: 1px solid white;
    height: auto;
    overflow-wrap: break-word;
}

#page1 {
    grid-area: ab1;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
}

#page2 {
    grid-area: ab2;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px; 
    padding-bottom: 20px;
    padding-right: 20px;
    letter-spacing: 1.3px;

}

#about_me_h3 {
    padding-top: 10px;  
}

.about_me_text {
    padding-left: 20px;
}

.about_me_h2 {
    padding-top: 15px;
}

#grid_wrapper_aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr minmax(400px, auto) minmax(400px, auto) minmax(400px, auto) 150px;
    grid-template-areas: 
    "na na na na"
    "ab2 ab2 ab2 ab2"
    "ab3 ab3 ab1 ab1"
    "ab5 ab5 ab5 ab5"
    "ab4 ab4 ab4 ab4"
    "fo fo fo fo";
}

#listdecoration {
    text-decoration: none;
    list-style-type: none;
}

.listpadding {
    padding-left: 20px;
}

#page3 {
    grid-area: ab3;
    border: 1px solid white;
    background-color: rgb(20,20,20);
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.3px;
    
}

#moonpicture {
    max-width: 100%;
    height: auto;
    display: flex;
}

#page4 {
    grid-area: ab4;
    border: 1px solid white;
    background-color: rgb(20,20,20);
    
}

#page5 {
    grid-area: ab5;
    border: 1px solid white;
    background-color: rgb(20,20,20);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    letter-spacing: 1.3px;
}

@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas:
        "na na na na na na" 
        "ab1 ab1 ab1 ab2 ab2 ab2"
        "ab3 ab3 ab4 ab4 ab5 ab5"
        "fo fo fo fo fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
        
    }

    #page2 {
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: auto;
    }

    #page3 {

    }

    #page4 {
        display: flex;
    }

    #page5 {

    }
}

/* End of About me*/
/* Start of "Holder" */

#grid_wrapper_holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr 100px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "na"
    "pos1"
    "pos2"
    "pos3"
    "pos4"
    "pos5"
    "pos6"
    "pos10"
    "fo";
}


#project_thumbnail {
    background-color: rgb(20,20,20);
    max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
}

#projectsinformation {
    grid-area: pos10;
    border: 1px solid white;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    font-size:0.9rem
}

#projects_h3 {
    padding-top: 10px;

}

#textpadding {
    padding-bottom: 10px;
}

.projectsdecoration {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    border: 1px solid white;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 6vw;
    max-width: 100%;
    height: auto;
}

#pos1 {
    grid-area: pos1;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 6vw;
    max-width: 100%;
    height: auto;
}

#pos2 {
    grid-area: pos2;
    border: 1px solid white;
    display: flex;
}

#pos3 {
    grid-area: pos3;
    border: 1px solid white;
    display: flex;

}

#pos4 {
    grid-area: pos4;
    border: 1px solid white;
    display: flex;

}

#pos5 {
    grid-area: pos5;
    border: 1px solid white;
    display: flex;
}

#pos6 {
    grid-area: pos6;
    border: 1px solid white;
    display: flex;

}

#pos7 {
    grid-area: pos7;
    border: 1px solid white;
    display: none;

}

#pos8 {
    grid-area: pos8;
    border: 1px solid white;
    display: none;

}

#pos9 {
    grid-area: pos9;
    border: 1px solid white;
    display: none;

}



@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    #grid_wrapper_holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 0.1fr 0.1fr 0.1fr 100px;
        grid-template-areas:
        "na na na" 
        "pos1 pos2 pos3"
        "pos4 pos5 pos6"
        "pos10 pos10 pos10"
        "fo fo fo";
    }

    #subpages_list {
        height: 100px;
        width: 100%;
        top: 0px;
        flex-direction: row;
        transition: none;
    }

    .subpages_list_visible {
        transform: translateY(0px);
        
    }
    
    #pos1 {
        grid-area: pos1;
        border: 1px solid white;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 18px;
        height: auto;
        max-width: 100%;
    }

    .projectsdecoration {
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 0px;
        border: 1px solid white;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.25rem;
        display: flex;
        height: auto;
        max-width: 100%;
    }

    #projectsinformation {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border: 1px solid white;
        font-size: 1.25rem;
        max-width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    #project_thumbnail {
        border-radius: 0px;
        height: auto;
        max-width: 100%;
    }

    #projectsfooter {
        display: flex;
        flex-direction: column;
    }
}